<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="icon" type="image/png" href="http://www.stuycs.org/_/rsrc/1519678307617/config/customLogo.gif?revision=2">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>Stocks! | CHoices</title>
  <style>
    body{
    background-color: #E0EEEE;
    font-family: Verdana, sans-serif;
    }
    
   
  </style>
</head>


<body>
  <a href="/" style="color: white; background-color: #008080;font-weight:bold;" class="btn btn-secondary d-flex justify-content-center"> <h1>return</h1> </a>
  <div class="container">
    
    
    <br>
    {% if M %}

    <h1 class="d-flex justify-content-center">Choices of Stocks</h1>
    What stocks do you want?
    <form action="/" method="POST">
      <select class="form-control form-control-lg" name="symbl">
        {% for S in M %}
        <!--input type="radio" name="symbl" value={{S[0]}}>{{S[1]}}:{{S[0]}}</input-->
        <option name="symbl" value={{S[0]}}>{{S[1]}}:{{S[0]}}</option>

        <br>
        {% endfor %}
      </select>
      <input type="submit" class="btn btn-primary" name="select">
    </form>
    {% else %}
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
        <div class="alert alert-warning" role="alert">
          <h2> No Matching Results</h2>
        </div>
      </div>
    </div>
    {% endif %}
    <br><br>

    {% if dbstocks!=[""] %}
    <h1 class="d-flex justify-content-center"> What stock do you want to remove?</h1>
    <p> (These include stocks that are added directly when your quotas are used up, and those that may not show up in your index page)</p>
    <p> Remove them at Will!</p>
    <center><form action="/rmChoices">
      <select class="form-control-lg" name="rm">
        {% for s in dbstocks %}

        <!--input type="radio" name="rm" value={{s}}>{{s}}</input-->
        <option value={{s}}> {{s}} </option>
        <br>
        {% endfor %}
      </select>
      <br>
      <input type="submit" name="submit" class="btn btn-primary"></input>
    </form></center>
    {% endif %}


  </div><!-- end container -->

</body>
</html>
